//- string interpolation
//- 	escaped = #{val}
//- 	unescaped = !{val}
//- 	\#{val} or #{'#{val}'}

//- tag interpolation
//- 	#[p this is paragraph]

//- - var list = ['html' ,'css']
//- 		each val,index in list
//- 			li= val

.sidebar
	h3 Elzero world
	ul
		li
			a(href="index.html")
				i(class="fa-regular fa-chart-bar fa-fw")
				span Dashboard
